GridPane {
    -fx-background-color: whitesmoke;
}

.label {
    -fx-font-size: 13pt;
    -fx-font-family: "Roboto";
    -fx-text-fill: black;
    -fx-opacity: 0.6;
}

#welcomeLabel {
    -fx-font-family: Impact;
    -fx-font-size: 30pt;
    -fx-font-weight: bold;
}