GridPane {
    -fx-background-color: whitesmoke;
}

Label, Button, TableColumn {
    -fx-font-size: 11pt;
    -fx-font-family: "Roboto";
    -fx-text-fill: black;
    -fx-opacity: 0.6;
}


.title {
    -fx-font-family: Impact;
    -fx-font-size: 25pt;
    -fx-font-weight: bold;
}